<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RECIPE WEB APP</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.css">

    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.js"></script>

</head>
<body>
<h1 class="text-center">RECIPE WEB APP</h1>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card text-center bg-light mb-3">
                <div class="card-header">
                    My recipes
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipies)}">
                        <div>
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                <tr>
                                    <td>ID</td>
                                    <td>Description</td>
                                    <td>View</td>
                                </tr>
                                </thead>
                                <tr th:each="recipe : ${recipies}">
                                    <td th:text="${recipe.id}">1</td>
                                    <td th:text="${recipe.description}">A</td>
                                    <td>
                                        <a href="#" th:href="@{'/recipe/show/'+${recipe.id}}" th:text="${recipe.id}">View</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>